<html>
    <head>
        <title>PRC - {{ boat.code.upper() }}</title>
        {% include 'head_items.html' %}
    </head>
    <body>
        <h1>Boat - {{ boat.code.upper() }}</h1>
        <a href="{{url_for('index_page')}}">Home</a>
        <br>
        <a href="{{url_for('fleet_page', fleet_name=fleet_name)}}">Fleet</a>

        <h2>Statistics</h2>

        <table border = 1>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Class</th>
                {% for d in boat.dpn_vals %}
                {% if loop.index - 1 == 0 %}
                <td>DPN</td>
                {% else %}
                <td>DPN {{loop.index - 1}}</td>
                {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td>{{boat.code.upper()}}</td>
                <td>{{boat.name}}</td>
                <td>{{boat.boat_class.capitalize()}}</td>

                {% for d in boat.dpn_vals %}
                {% if d %}
                <td>{{ d }}</td>
                {% else %}
                <td></td>
                {% endif %}
                {% endfor %}
            </tr>
        </table>

        <h2>Fleet Statistics</h2>

        <p>
            <b>TODO:</b> Not Finished
        </p>

        <ul>
            <li>Percent of Race Times with Boat</li>
            <li>Percent of Top Finishes (1, 2, 3)</li>
        </ul>
    </body>

    {% include 'footer.html' %}
</html>