{%- import "image_macro.html" as img -%}
{%- set boat_stats = database.boat_statistics[fleet.name][boat.code] -%}

<html>
    <head>
        <title>PRC - {{ boat.code.upper() }}</title>
        {% include 'head_items.html' %}
    </head>
    <body>
        <h1>Boat - {{ boat.code.upper() }}</h1>
        <a href="{{url_for('index_page')}}">Home</a>
        <br>
        <a href="{{url_for('fleet_page', fleet_name=fleet.name)}}">Fleet: {{ fleet.fancy_name() }}</a>

        <h2>Statistics</h2>

        <table border = 1>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Class</th>
                {% for d in boat.dpn_values %}
                {% if loop.index - 1 == 0 %}
                <th>DPN</th>
                {% else %}
                <th>DPN {{loop.index - 1}}</th>
                {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td>{{boat.code.upper()}}</td>
                <td>{{boat.name}}</td>
                <td>{{boat.boat_class.capitalize()}}</td>

                {% for d in boat.dpn_values %}
                {% if d %}
                <td>{{ d }}</td>
                {% else %}
                <td></td>
                {% endif %}
                {% endfor %}
            </tr>
        </table>

        {% if boat.needs_handicap_note() %}
        <h3>DPN Notes:</h3>
        {% include 'dpn_notes.html' %}
        {% endif %}

        <h2>Point Finishes</h2>
        {{ img.place(boat_stats.get_point_plot(), "Point Finishes") }}

        <table border="1">
            <tr>
                <th>Points</th>
                <th>Number of Finishes</th>
            </tr>
            {% for point, num_counts in boat_stats.get_point_counts_sorted() %}
            <tr>
                <td>
                    {{ point }}
                </td>
                <td>
                    {{ num_counts }}
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td>
                    <b>Total</b>
                </td>
                <td>
                    <b>{{ boat_stats.get_total_point_counts() }}</b>
                </td>
            </tr>
        </table>

        <h2>Series with Boat</h2>
        <table border="0">
            {% for series in boat_stats.series %}
            <tr>
                <td><a href="{{url_for('series_page', series_name=series.name)}}">{{ series.fancy_name() }}</a></td>
            </tr>
            {% endfor %}
        </table>

        <h2>Skippers with Boat</h2>
        <table border="0">
            {% for skipper in boat_stats.skippers %}
            <tr>
                <td><a href="{{url_for('skipper_page_ind', skipper_name=skipper.identifier)}}">{{ skipper.identifier }}</a></td>
            </tr>
            {% endfor %}
        </table>

        {% include 'footer.html' %}
    </body>
</html>
