<html>
    <head>
        <title>PRC - {{ fleet.fancy_name() }}</title>
    </head>
    <body>
        <h1>Fleet - {{ fleet.fancy_name() }}</h1>
        <a href="{{url_for('main_page')}}">Home</a>

        <h2>Wind Mapping</h2>

        <table border=1>
            <tr>
                <th>Beaufort Start</th>
                <th>Beaufort End</th>
                <th>DPN Result</th>
            </tr>
            <tr>
                <td>Default</td>
                <td>Default</td>
                <td>DPN{{fleet.wind_map.default.index}}</td>
            </tr>
            {% for wind_map in fleet.wind_map.wind_maps %}
            <tr>
                <td>{{ wind_map.start_bf }}</td>
                <td>{{ wind_map.end_bf }}</td>
                <td>DPN{{ wind_map.index }}</td>
            </tr>
            {% endfor %}
        </table>

        <h2>Boats</h2>

        <table border = 1>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Class</th>
                {% for d in range(fleet.dpn_len()) %}
                <td>DPN {{loop.index - 1}}</td>
                {% endfor %}
            </tr>
            {% for boat_code in fleet.boat_types %}
            <tr>
                {% set boat = fleet.boat_types[boat_code] %}
                <td><a href="{{url_for('boat_page', boat_code=boat.code, fleet_name=fleet.name)}}">{{boat.code.upper()}}</a></td>
                <td>{{boat.name}}</td>
                <td>{{boat.boat_class.name.capitalize()}}</td>

                {% for d in boat.dpn_vals %}
                {% if d %}
                <td>{{ d }}</td>
                {% else %}
                <td></td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

    </body>

    {% include 'footer.html' %}
</html>