<html>
    <head>
        <title>PRC - {{ fleet.fancy_name() }}</title>
        {% include 'head_items.html' %}
    </head>
    <body>
        <h1>Fleet - {{ fleet.fancy_name() }}</h1>
        <a href="{{url_for('index_page')}}">Home</a>

        <h2>Wind Mapping</h2>

        <table border=1>
            <tr>
                <th>Beaufort Start</th>
                <th>Beaufort End</th>
                <th>DPN Result</th>
            </tr>
            <tr>
                <td>Default</td>
                <td>Default</td>
                <td>DPN{{fleet.wind_map.default.index}}</td>
            </tr>
            {% for wind_map in fleet.wind_map.wind_maps %}
            <tr>
                <td>{{ wind_map.start_bf }}</td>
                <td>{{ wind_map.end_bf }}</td>
                <td>DPN{{ wind_map.index }}</td>
            </tr>
            {% endfor %}
        </table>

        <h2>Boats</h2>

        <table border = 1>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Class</th>
                {% for d in range(fleet.dpn_len()) %}
                {% if loop.index - 1 == 0 %}
                <td>DPN</td>
                {% else %}
                <td>DPN {{loop.index - 1}}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% for boat in fleet.boat_types_sorted() %}
            <tr>
                <td><a href="{{url_for('boat_page', boat_code=boat.code, fleet_name=fleet.name)}}">{{boat.code.upper()}}</a></td>
                <td>{{boat.name}}</td>
                <td>{{boat.boat_class.capitalize()}}</td>

                {% for d in boat.dpn_values %}
                {% if d %}
                <td>{{ d }}</td>
                {% else %}
                <td></td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <h2>Fleet Information</h2>

        <h3>DPN Notes:</h3>
        {% include 'dpn_notes.html' %}

        {% if fleet.source %}
        <h3>Fleet Data Source</h3>
        <a href="{{ fleet.source }}">Source</a>
        {% endif %}

    </body>

    {% include 'footer.html' %}
</html>