<html>
    <head>
        <title>PRC - Index</title>
        {% include 'head_items.html' %}
    </head>
    <body>
        <h1>Portsmouth Race Calculator</h1>

        <h2>Race Series</h2>
        <ul>
            <li><a href="{{ url_for('series_page', series_name=series_list[0].name) }}">Latest ({{ database.latest_race_date_string() }})</a></li>
        </ul>
         <ul>
            {% for series in series_list %}
            <li><a href="{{ url_for('series_page', series_name=series.name) }}">{{ series.fancy_name() }}</a></li>
            {% endfor %}
        </ul>

        <h2>Fleets</h2>
        <ul>
            {% for fleet in fleets_list %}
            <li><a href="{{ url_for('fleet_page', fleet_name=fleet.name) }}">{{ fleet.fancy_name() }}</a></li>
            {% endfor %}
        </ul>

        <h2>Skippers</h2>
        <ul>
            <li><a href="{{ url_for('skipper_page_all')}}">Skippers</a></li>
        </ul>

        <h2>Notes</h2>
        <p>
            Compiled on: {{ get_build_time() }}
        </p>

        {% include 'footer.html' %}
    </body>
</html>
