{%- set race = series.races[race_index] -%}
{%- import "race_macro.html" as race_desc -%}
{%- import "image_macro.html" as img -%}

<html>
    <head>
        <title>PRC - Race {{ race.race_num }}</title>
        {% include 'head_items.html' %}
    </head>
    <body>
        <h1>Series - {{series.fancy_name()}} - Race {{ race.race_num }}</h1>
        <a href="{{url_for('index_page')}}">Home</a>
        <br>
        <a href="{{url_for('fleet_page', fleet_name=series.fleet.name)}}">Fleet: {{ series.fleet.fancy_name() }}</a>
        <br>
        <a href="{{url_for('series_page', series_name=series.name)}}">Series: {{ series.fancy_name() }}</a>

        <h2>Race {{ race.race_num }}</h2>
        {{ race_desc.display_race(series, race) }}

        <h2>Result Figure</h2>
        {{ img.place(race.get_plot_race_time_results(), "Race Results") }}

        {% include 'footer.html' %}
    </body>
</html>
