{%- import "race_macro.html" as race_desc -%}
{%- import "image_macro.html" as img -%}

<html>
    <head>
        <title>PRC - {{ series.fancy_name() }}</title>
        {% include 'head_items.html' %}
    </head>
    <body>
        <h1>Series - {{series.fancy_name()}}</h1>
        <a href="{{url_for('index_page')}}">Home</a>
        <br>
        <a href="{{url_for('fleet_page', fleet_name=series.fleet.name)}}">Fleet: {{ series.fleet.fancy_name() }}</a>

        <h2>Overall Results</h2>

        <b>Valid Races Held:</b> {{ series.valid_races() | length }}
        <br>
        <b>Number to Qualify:</b> {{ series.qualify_count }}
        <br>
        <br>

        <table border="1">
            <tr>
                <th>Rank</th>
                <th>Skipper</th>
                {% for race in series.races %}
                <th><a href="{{url_for('race_page', series_name=series.name, race_index=loop.index-1)}}">{{ '%2d' | format(race.race_num) }}</a></th>
                {% endfor %}
                <th>RC Points</th>
                <th>Overall Points</th>
                <th>Points Used</th>
            </tr>
            {% for skipper in series.get_all_skippers_sorted() %}
            <tr>
                {% set rank = series.get_skipper_rank(skipper) %}
                {% if rank %}
                <td>{{ rank }}</td>
                {% else %}
                <td></td>
                {% endif %}
                <td><a href="{{ url_for('skipper_page_ind', skipper_name=skipper.identifier) }}">{{ skipper.identifier }}</a></td>
                {% for race in series.races %}
                    {% set result = race.get_skipper_result_string(skipper) %}
                    {% if result %}
                    <td>{{ result }}</td>
                    {% else %}
                    <td>--</td>
                    {% endif %}
                {% endfor %}
                {% set points = series.get_skipper_points(skipper) %}
                {% if points %}
                <td>{{ series.skipper_rc_points(skipper) }}</td>
                <td>{{ points }}</td>
                {% else %}
                {% if series.skipper_rc_points(skipper) %}
                <td>{{ series.skipper_rc_points(skipper) }}</td>
                <td>DNQ</td>
                {% else %}
                <td>N/A</td>
                <td>N/A</td>
                {% endif %}
                {% endif %}
                <td>{{ series.skipper_points_string(skipper) }}</td>
            </tr>
            {% endfor %}
            <tr>
                <th>Race Finishes</th>
                <th></th>
                {% for race in series.races %}
                <th>{{ race.race_results() | length }}</th>
                {% endfor %}
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </table>

        <h2>Races</h2>

        {% for race in series.races %}
        <h3>Race {{ race.race_num }}</h3>
        {{ race_desc.display_race(series, race) }}
        {% endfor %}

        <h2>Statistics</h2>

        <h3>Normalized Results</h3>
        {{ img.place(series.get_plot_normalized_race_time_results(), "Normalized Results") }}

        <h3>Boats Types in Series</h3>
        {{ img.place(series.get_plot_boat_pie_chart(), "Boats in Series") }}

        <h3>Rank History</h3>
        {{ img.place(series.get_plot_series_rank(), "Rank History") }}
        <br>
        {{ img.place(series.get_plot_series_points(), "Point History") }}

        {% include 'footer.html' %}
    </body>
</html>
