<html>
    <head>
        <title>PRC - {{ series.fancy_name() }}</title>
    </head>
    <body>
        <h1>Series - {{series.fancy_name()}}</h1>
        <a href="{{url_for('main_page')}}">Home</a>
        <br>
        <a href="{{url_for('fleet_page', fleet_name=series.fleet.name)}}">Fleet: {{ series.fleet.fancy_name() }}</a>

        <h2>Overall Results</h2>

        <h2>Races</h2>

        {% for race in series.races %}

        <h3>Race {{ loop.index }}</h3>

        <table border=1>
            <tr>
                <th>Wind</th>
                <td>{{ series.fleet.wind_map.get_wind_map_for_beaufort(race.wind_bf).range_str()}} (BFT)</td>
            </tr>
            <tr>
                <th>RC</th>
                <td>{% for skipper in race.rc_skippers() %}{{skipper.identifier}}{% if not loop.last %}, {% endif %}{% endfor %}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{race.date}}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{race.notes}}</td>
            </tr>
        </table>

        <br>

        <table border=1>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Boat</th>
                <th>Actual Time [mm:ss]</th>
                <th>Actual Time [s]</th>
                <th>Handicap</th>
                <th>Corrected Time [s]</th>
                <th>Corrected Time [mm:ss]</th>
            </tr>
            {% for race_result in race.race_times_sorted() %}

            {% set score = race_result[0] %}
            {% set race_time = race_result[1] %}
            <tr>
                {% if score == (score | int) %}
                <td> {{ score | round | int }} </td>
                {% else %}
                <td> {{ '%.1f' | format(score) }} </td>
                {% endif %}
                <td> {{ race_time.skipper.identifier }} </td>
                <td> <a href="{{ url_for('boat_page', fleet_name=series.fleet.name, boat_code=race_time.boat.code) }}">{{ race_time.boat.code }}</a> </td>
                {% if race_time.other_finish %}
                <td> {{ race_time.other_finish.name }} </td>
                {% else %}
                <td> {{ race_time.format_time(race_time.time_s) }} </td>
                {% endif %}
                <td> {{ race_time.time_s | round }} </td>
                <td> {{ '%0.5f' | format(race_time.boat.dpn_for_beaufort(race.wind_bf) / 100.0) }} </td>
                <td> {{ race_time.corrected_time_s | round }} </td>
                {% if race_time.other_finish %}
                <td> {{ race_time.other_finish.name }} </td>
                {% else %}
                <td> {{ race_time.format_time(race_time.corrected_time_s) }} </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        {% endfor %}
    </body>

    {% include 'footer.html' %}
</html>
