{%- import "image_macro.html" as img -%}

{%- set skipper = database.skippers[skipper_name] -%}
{%- set skipper_stats = database.skipper_statistics[skipper_name] -%}

<html>
    <head>
        <title>PRC - Skippers</title>
        {% include 'head_items.html' %}
    </head>
    <body>
        <h1>Skipper - {{ skipper_name }}</h1>
        <a href="{{ url_for('index_page') }}">Home</a>
        <br>
        <a href="{{ url_for('skipper_page_all') }}">Skippers</a>

        <h2>Name</h2>

        <table border="0">
            <tr>
                <th>First:</th>
                <td>{% if skipper.first %}{{ skipper.first }}{% else %}<i>N/A</i>{% endif %}</td>
            </tr>
            <tr>
                <th>Last:</th>
                <td>{% if skipper.last %}{{ skipper.last }}{% else %}<i>N/A</i>{% endif %}</td>
            </tr>
        </table>

        <h2>Boats Used</h2>
        {{ img.place(skipper_stats.get_boat_plot(), "Statistics") }}

        <table border="1">
            <tr>
                <th>Boat</th>
                <th>Races Used Used</th>
            </tr>
            {% for boat, num_used in skipper_stats.boats_used.items() %}
            <tr>
                <td>
                    <a href="{{ url_for('boat_page', fleet_name=boat.fleet_name, boat_code=boat.code) }}">{{ database.fleets[boat.fleet_name].fancy_name() }} - {{ boat.name }}</a>
                </td>
                <td>
                    {{ num_used }}
                </td>
            </tr>
            {% endfor %}
            <td>
                <b>Total</b>
            </td>
            <td>
                <b>{{ skipper_stats.get_total_boat_counts() }}</b>
            </td>
        </table>

        <h2>Race Finishes</h2>
        {{ img.place(skipper_stats.get_race_plot(), "Race Finishes") }}

        <table border="1">
            <tr>
                <th>Place</th>
                <th>Number of Finishes</th>
            </tr>
            {% for finish, num_finishes in skipper_stats.get_race_counts_sorted() %}
            <tr>
                <td>
                    {{ finish }}
                </td>
                <td>
                    {{ num_finishes }}
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td>
                    <b>Total</b>
                </td>
                <td>
                    <b>{{ skipper_stats.get_total_race_counts() }}</b>
                </td>
            </tr>
        </table>

        {% include 'footer.html' %}

    </body>
</html>
