{%- import "image_macro.html" as img -%}

{%- set skipper = database.skippers[skipper_name] -%}
{%- set skipper_stats = database.skipper_statistics[skipper_name] -%}

<html>
    <head>
        <title>PRC - Skippers</title>
        {% include 'head_items.html' %}
    </head>
    <body>
        <h1>Skipper - {{ skipper_name }}</h1>
        <a href="{{ url_for('index_page') }}">Home</a>
        <br>
        <a href="{{ url_for('skipper_page_all') }}">Skippers</a>

        <h2>Name</h2>

        <table border=0>
            <tr>
                <th>First:</th>
                <td>{% if skipper.first %}{{ skipper.first }}{% else %}<i>N/A</i>{% endif %}</td>
            </tr>
            <tr>
                <th>Last:</th>
                <td>{% if skipper.last %}{{ skipper.last }}{% else %}<i>N/A</i>{% endif %}</td>
            </tr>
        </table>

        <h2>Statistics</h2>
        {{ img.place(skipper_stats.get_race_plot(), "Statistics") }}

        {% include 'footer.html' %}

    </body>
</html>
